.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: rgb(2 113 228 / var(--tw-bg-opacity)) !important;
}
